<launch>

  <!-- TOOL STATION DETECTION NODE ARGUMENTS -->
  <arg name="end_effector_frame" default="right_arm_tool0"/>
  <arg name="camera_frame" default="camera"/>
  <arg name="output_frame" default="right_arm_base_link"/>

  <!-- PARAMETERS -->
  <param name="tool_station_detection/end_effector_frame" value="$(arg end_effector_frame)"/>
  <param name="tool_station_detection/camera_frame" value="$(arg camera_frame)"/>
  <param name="tool_station_detection/output_frame" value="$(arg output_frame)"/>

  <!-- Launch tool_station_detection node -->
  <node name="tool_station_detection_node" pkg="tool_station_detection" type="tool_station_detection_node" output="screen"/>

  <!-- Launch ar_track_alvar with namespace-->
  <group ns="tool_station_detection">
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <!-- AR_TRACK_ALVAR ARGUMENTS -->
    <arg name="marker_size" default="6" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/camera/image_raw" />
    <arg name="cam_info_topic" default="/camera/camera_info" />
    <arg name="output_frame" default="/camera" />
  </include>
  </group>
</launch>
